* {
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.shapka {
  width: 210px;
  height: 50px;
  background-color: black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.podval {
  width: 210px;
  height: 50px;
  background-color: black;
}
.lift {
  margin-top: 100px;
  display: flex;
  gap: 200px;
}
.lift-dom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lift-nomer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
button {
  cursor: pointer;
  width: 120px;
  height: 30px;
  border-radius: 20px;
  border: none;
  background: black;
  color: white;
  border: 2px solid white;
}
body {
  background: grey;
}
.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: black;
  position: absolute;
  bottom: 0;
  transition: 1s;
  right: 110px;
}
.blocks {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 15px;
  background: orange;
  position: relative;
}
.block {
  width: 90%;
  height: 30px;
  margin: 0 auto;
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}
button:hover {
  transform: scale(1.2);
  transition: 0.7s;
}
